extends layout

block content
    div(class='row mt-5')
        div(class='col-12 col-md-8 offset-md-2')
            div(class='card shadow mb-4')
                div(class='card-body')            
                    - each row1 in MENUS
                        div(class='row mb-3')
                            div(class='col-12 col-sm-2 d-flex align-items-center')
                                div(class='fw-bold') #{row1.title}
                            div(class='col-12 col-sm-10 d-flex flex-wrap')
                                - each row2 in row1.child
                                    //- 전체관리자는 체크하지 않는다..
                                    if level1 > 1
                                        - each tmp in show_menu_link
                                            if row2.link == tmp                                            
                                                a(class='btn btn-light me-2', href=row2.link + '?name1=' + row2.title) #{row2.title}
                                    else
                                        a(class='btn btn-light me-2', href=row2.link + '?name1=' + row2.title) #{row2.title}
                        
                    div(class='row')
                        div(class='col-12 col-sm-2 d-flex align-items-center')
                            div(class='fw-bold') 설정
                        div(class='col-12 col-sm-10 d-flex flex-wrap')
                            a(class='btn btn-light me-2', href='/admin/my_profile?name1=나의프로필') 나의프로필
                            a(class='btn btn-light me-2', href='/admin/logout') 로그아웃
